// Standard CSS Code
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	margin:0;
}
b,strong{
	font-weight:700;
}
h1{
	font-size:2em;
	margin:.67em 0;
}
