/* line 2, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/1-tools/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 7, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/1-tools/normalize */
body {
  margin: 0; }

/* line 10, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/1-tools/normalize */
b, strong {
  font-weight: 700; }

/* line 13, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/1-tools/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }

/* line 1, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6 {
  color: #c0392b;
  font-weight: 300;
  text-transform: uppercase; }

/* line 6, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.huge, h1 {
  font-size: 56px;
  line-height: 1.05;
  letter-spacing: -1px;
  text-align: center; }

/* line 12, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

/* line 16, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

/* line 20, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

/* line 24, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
.small, small {
  font-size: 10px;
  line-height: 1.2; }

/* line 28, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
p {
  margin: 0 0 20px 0;
  color: black; }

/* line 32, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
em {
  font-style: italic; }

/* line 35, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
strong {
  font-weight: bold; }

/* line 39, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
a {
  color: #c0392b;
  text-decoration: none;
  outline: 0; }

/* line 44, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
a:hover, a:focus {
  color: #df7c72; }

/* line 49, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
::selection {
  background: #3498db; }

/* line 52, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
::-moz-selection {
  background: #3498db; }

/* line 55, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
img::selection {
  background: transparent; }

/* line 58, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
img::-moz-selection {
  background: transparent; }

/* line 61, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
body {
  -webkit-tap-highlight-color: #3498db; }

/* line 66, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/2-base/base */
body {
  background: #ecf0f1;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans' sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* line 1, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
.samll-header {
  background-image: url("/assets/image/Hero.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 300px; }
  /* line 8, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
  .samll-header nav {
    float: right;
    padding: 30px 30px 0 0; }
    /* line 12, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
    .samll-header nav a {
      color: #c0392b;
      display: inline-block;
      margin-left: 20px;
      font-size: 16px; }
    /* line 18, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
    .samll-header nav a:hover, .samll-header nav a:focus {
      color: #df7c72; }
  /* line 21, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
  .samll-header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 32px; }
    /* line 33, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
    .samll-header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: white solid 10px; }
  /* line 37, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
  .samll-header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1; }

@media screen and (max-width: 840px) {
  /* line 46, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
  .samll-header nav {
    float: none;
    text-align: center;
    padding-top: 20px; }
    /* line 51, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
    .samll-header nav a {
      font-size: 18px; }
  /* line 54, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/all */
  .samll-header h1 {
    padding-top: 0px;
    font-size: 42px; }
 }

/* line 1, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
.big-header {
  background-image: url("/assets/image/Hero.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 50px; }
  /* line 8, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .big-header nav {
    float: right;
    padding: 30px 30px 0 0; }
    /* line 12, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .big-header nav a {
      color: #c0392b;
      display: inline-block;
      margin-left: 20px;
      font-size: 16px; }
    /* line 18, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .big-header nav a:hover, .big-header nav a:focus {
      color: #df7c72; }
  /* line 21, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .big-header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    /* line 33, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .big-header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: white solid 10px; }
  /* line 37, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .big-header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1; }

/* line 43, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
.game-warp {
  width: 100%;
  display: inline-block;
  background: #95a5a6; }
  /* line 48, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp h1 {
    padding-top: 20px;
    margin-top: 0; }
  /* line 52, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp .game-left {
    float: left;
    max-width: 350px;
    max-height: 800px;
    margin-left: 200px; }
    /* line 58, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .game-warp .game-left img {
      max-width: 350px; }
  /* line 61, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp .game-right {
    float: right;
    max-width: 350px;
    max-height: 800px;
    margin-right: 200px; }
    /* line 67, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .game-warp .game-right img {
      max-width: 350px; }

/* line 70, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
.about-warp {
  width: 100%;
  display: inline-block;
  background: #ecf0f1;
  margin: 0, auto;
  text-align: center; }
  /* line 77, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .about-warp .about-wrap-with {
    width: 70%;
    display: block;
    margin: 0 auto; }
    /* line 82, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .about-warp .about-wrap-with h1 {
      padding-top: 20px;
      margin-top: 0; }
    /* line 86, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .about-warp .about-wrap-with .about-left {
      max-width: 500px;
      max-height: 800px;
      display: inline-block;
      float: left; }
      /* line 92, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
      .about-warp .about-wrap-with .about-left p {
        text-align: left;
        max-width: 500px;
        max-height: 800px; }
    /* line 97, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .about-warp .about-wrap-with .about-right {
      max-width: 250px;
      max-height: 800px;
      display: inline-block; }
      /* line 102, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
      .about-warp .about-wrap-with .about-right .name-wrap {
        float: left;
        margin: 20px 0;
        max-width: 350px; }
        /* line 107, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
        .about-warp .about-wrap-with .about-right .name-wrap img {
          display: inline-block;
          max-width: 100px;
          max-height: 100px;
          float: left;
          border-radius: 50%; }
        /* line 113, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
        .about-warp .about-wrap-with .about-right .name-wrap p {
          float: right;
          margin-left: 5px; }

/* line 117, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
.dev-warp {
  width: 100%;
  display: inline-block;
  background: #95a5a6; }
  /* line 122, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp h1 {
    padding-top: 20px;
    margin-top: 0; }
  /* line 126, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .dev-left {
    float: left;
    max-width: 350px;
    max-height: 800px;
    margin-left: 200px; }
    /* line 132, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-left .post {
      margin: 0;
      padding: 0; }
    /* line 135, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-left img {
      max-width: 350px; }
    /* line 137, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-left p {
      margin-bottom: 20px; }
  /* line 139, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .dev-right {
    float: right;
    max-width: 350px;
    max-height: 800px;
    margin-right: 200px; }
    /* line 145, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-right .post {
      margin: 0;
      padding: 0; }
    /* line 148, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-right img {
      max-width: 350px; }
    /* line 150, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    .dev-warp .dev-right p {
      margin-bottom: 40px; }

/* line 153, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
footer {
  background-image: url("/assets/image/Hero.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 50px; }
  /* line 160, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  footer nav {
    float: right;
    padding: 30px 30px 0 0; }
    /* line 164, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    footer nav a {
      color: #c0392b;
      display: inline-block;
      margin-left: 20px;
      font-size: 16px; }
    /* line 170, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    footer nav a:hover, footer nav a:focus {
      color: #df7c72; }
  /* line 173, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  footer h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both; }
    /* line 184, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    footer h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: white solid 10px; }

@media screen and (max-width: 640px) {
  /* line 194, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  header nav {
    float: none;
    text-align: center;
    padding-top: 90px; }
    /* line 199, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
    header nav a {
      font-size: 18px; }
  /* line 202, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  header h1 {
    padding-top: 0px;
    font-size: 42px; }

  /* line 209, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp .game-left {
    float: none;
    margin-left: 0;
    width: 100%; }
  /* line 214, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp p {
    margin: 10px 50px; }
  /* line 217, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp .game-right {
    float: none;
    width: 100%;
    margin-right: 0; }
  /* line 222, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .game-warp p {
    margin: 10px 50px; }

  /* line 227, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .dev-left {
    float: none;
    width: 100%;
    margin-left: 0;
    max-height: 1200px; }
  /* line 232, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp p {
    margin: 10px 50px; }
  /* line 234, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .post {
    color: #c0392b;
    text-align: center; }
  /* line 238, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .dev-right {
    float: none;
    width: 100%;
    margin-right: 0;
    max-height: 1200px; }
  /* line 244, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp p {
    margin: 10px 50px; }
  /* line 246, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/index */
  .dev-warp .post {
    color: #c0392b;
    text-align: center; }
 }

/* line 1, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
.aboutus-wrap {
  background: #bdc3c7;
  width: 100%;
  display: inline-block;
  height: 100%; }
  /* line 7, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap h1 {
    padding-top: 20px;
    margin-top: 0; }
  /* line 11, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap img {
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    float: left;
    border-radius: 50%; }
  /* line 18, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap .aboutus-left {
    float: left;
    margin-left: 100px; }
  /* line 23, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap .aboutus1 {
    max-width: 450px; }
  /* line 26, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap .aboutus2 {
    max-width: 450px; }
  /* line 29, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutus-wrap .aboutus-right {
    float: right;
    margin-right: 100px;
    width: 450px; }

/* line 34, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
.aboutgame-wrap {
  background: #ecf0f1;
  width: 100%;
  display: inline-block;
  height: 100%; }
  /* line 40, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap .aboutgame-div1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 100px;
    display: inline-block; }
  /* line 47, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap .aboutgametext1 {
    float: right;
    max-width: 700px;
    margin-right: 180px; }
  /* line 52, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap h1 {
    padding-top: 20px;
    margin-top: 0; }
  /* line 56, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap img {
    max-height: 250px;
    float: left; }
  /* line 61, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap p {
    word-wrap: normal; }
  /* line 64, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap .aboutgametext2 {
    float: right;
    max-width: 700px;
    margin-right: 180px; }
  /* line 69, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap h1 {
    padding-top: 20px;
    margin-top: 0; }
  /* line 73, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap img {
    max-height: 250px;
    float: left; }
  /* line 77, C:/Users/SiÖs0501/csgo/Mechanical-tree-website/assets/css/3-sass/about */
  .aboutgame-wrap p {
    word-wrap: normal; }
