.aboutus-wrap
	background: $bg-color-3
	width: 100%
	display: inline-block
	height: 100%

	h1
		padding-top: 20px
		margin-top: 0

	img
		display: inline-block
		max-width: 100px
		max-height: 100px
		float: left
		border-radius: 50%

	.aboutus-left
		float: left
		margin-left: 100px


	.aboutus1
		max-width: 450px

	.aboutus2
		max-width: 450px

	.aboutus-right
		float: right
		margin-right: 100px
		width: 450px

.aboutgame-wrap
	background: $bg-color-1
	width: 100%
	display: inline-block
	height: 100%

	.aboutgame-div1
		margin-top: 30px
		margin-bottom: 30px
		width: 100%
		margin-left: 100px
		display: inline-block

	.aboutgametext1
		float: right
		max-width: 700px
		margin-right: 180px

	h1
		padding-top: 20px
		margin-top: 0

	img
		max-height: 250px
		float: left


	p
		@include word-wrap(normal)

	.aboutgametext2
		float: right
		max-width: 700px
		margin-right: 180px

	h1
		padding-top: 20px
		margin-top: 0

	img
		max-height: 250px
		float: left

	p
		@include word-wrap(normal)

