.aboutus-section-wraper
	background: $bg-color-3
	width: 100%
	+clearfix
	padding-bottom: 30px


	h1
		margin-top: 0
		padding-top: 10px

	.aboutus-favicon-section
		max-width: 1000px
		margin: 0 auto

		.aboutus-left
			max-width: 400px
			float: left
			margin-left: 50px

			.aboutus-headshot
				img
					height: 100px
					width: 100px
					border-radius: 50%
					float: left

				.aboutus-name
					float: left
					padding-right: 168px
					margin-bottom: 56px

					p
						margin-bottom: 5px


		.aboutus-right
			max-width: 400px
			float: right
			margin-right: 50px

			.aboutus-headshot
				img
					height: 100px
					width: 100px
					border-radius: 50%
					float: left

				.aboutus-name
					float: left
					padding-right: 168px
					margin-bottom: 56px

					p
						margin-bottom: 5px

.aboutgame-wraperaround
	background-color: $bg-color-2
	width: 100%
	+clearfix
	padding-bottom: 30px

	h1
		margin-top: 0
		padding-top: 30px

	.about-games-section
		max-width: 1000px
		margin: 0 auto

		.aboutgame-left
			max-width: 400px
			float: left
			margin-left: 40px

			img
				max-width: 400px

		.aboutgame-right
			max-width: 400px
			float: right
			margin-right: 40px

			img
				max-width: 400px

			.aboutus-buynow
				background-color: lighten($accent-color, 10%)
				padding: 6px 15px
				margin-left: 10px
				border-radius: 8px
				color: white
				font:
					size: 17px
					weight: 700
				@include transition(0.4s)

			.aboutus-buynow:hover
				background-color: lighten($accent-color, 5%)
				color: #ccc

/*@media screen and (max-width: 1120px)*/
