header
	background:
		image: url("/assets/image/Hero.jpg")
		size: cover
		position: 50% 50%
	padding-bottom: 50px

	nav
		float: right
		padding: 30px 30px 0 0

		a
			color: $link-color
			display: inline-block
			margin-left: 20px
			font-size: 16px

		a:hover, a:focus
			color: lighten($link-color, 20%)

	h1
		text-align: center
		font:
			size: 72px
			weight: 700
		color: white
		text-transform: uppercase
		letter-spacing: 0.05em
		margin-bottom: 20px
		clear: both
		padding-top: 100px

		span
			display: inline-block
			padding: 0.2em 0.5em
			border: white solid 10px
	.kicker
		text-align: center
		letter-spacing: 0.05em
		color: white
		line-height: 1

.game-warp
	width: 100%
	display: inline-block
	background: #95a5a6

	h1
		padding-top: 20px
		margin-top: 0

	.game-left
		float: left
		max-width: 350px
		max-height: 800px
		margin-left: 200px

		img
			max-width: 350px

	.game-right
		float: right
		max-width: 350px
		max-height: 800px
		margin-right: 200px

		img
			max-width: 350px

.about-warp
	width: 100%
	display: inline-block
	background: #ecf0f1
	margin: 0, auto
	text-align: center

	.about-wrap-with
		width: 70%
		display: block
		margin: 0 auto

		h1
			padding-top: 20px
			margin-top: 0

		.about-left
			max-width: 500px
			max-height: 800px
			display: inline-block
			float: left

			p
				text-align: left
				max-width: 500px
				max-height: 800px

		.about-right
			max-width: 250px
			max-height: 800px
			display: inline-block

			.name-wrap
				float: left
				margin: 20px 0
				max-width: 350px

				img
					display: inline-block
					max-width: 100px
					max-height: 100px
					float: left
					border-radius: 50%
				p
					float: right
					margin-left: 5px

.dev-warp
	width: 100%
	display: inline-block
	background: #95a5a6

	h1
		padding-top: 20px
		margin-top: 0

	.dev-left
		float: left
		max-width: 350px
		max-height: 800px
		margin-left: 200px

		.post
			margin: 0
			padding: 0
		img
			max-width: 350px
		p
			margin-bottom: 20px
	.dev-right
		float: right
		max-width: 350px
		max-height: 800px
		margin-right: 200px

		.post
			margin: 0
			padding: 0
		img
			max-width: 350px
		p
			margin-bottom: 40px

footer
	background:
		image: url("/assets/image/Hero.jpg")
		size: cover
		position: 50% 50%
	padding-bottom: 50px

	nav
		float: right
		padding: 30px 30px 0 0

		a
			color: $link-color
			display: inline-block
			margin-left: 20px
			font-size: 16px

		a:hover, a:focus
			color: lighten($link-color, 20%)

	h1
		text-align: center
		font:
			size: 42px
			weight: 700
		color: white
		text-transform: uppercase
		letter-spacing: 0.05em
		margin-bottom: 20px
		clear: both

		span
			display: inline-block
			padding: 0.2em 0.5em
			border: white solid 10px




@media screen and (max-width: 640px)
	header
		nav
			float: none
			text-align: center
			padding-top: 90px

			a
				font-size: 18px

		h1
			padding-top: 0px
			font:
				size: 42px

	.game-warp

		.game-left
			float: none
			margin-left: 0
			width: 100%

		p
			margin: 10px 50px

		.game-right
			float: none
			width: 100%
			margin-right: 0

		p
			margin: 10px 50px

	.dev-warp

		.dev-left
			float: none
			width: 100%
			margin-left: 0
			max-height: 1200px
		p
			margin: 10px 50px
		.post
			color: $link-color
			text-align: center

		.dev-right
			float: none
			width: 100%
			margin-right: 0
			max-height: 1200px

		p
			margin: 10px 50px
		.post
			color: $link-color
			text-align: center